<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Code Clicker</title>

    <link rel="shortcut icon" href="/static/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>

    <div class="row">
      <div class="col-md-6">
        <h1 class="display-1 text-center">Code For Change</h1>
        <img class="img-thumbnail mx-auto d-block" src="/static/logo.png"></img>
      </div>
      <div class="col-md-6">
        <h1 class="display-3 text-center" style="padding-top: 1%;">Code Clicker</h1>
        <h1 class="text-center" style="padding-top: 5%; font-size: 800%;" id="clicks">Clicks: {{code.clicks}}</h1>
        <p class="text-center" style="font-size: 300%;">Every {{code.prize}}th clicker gets a prize!</p>
        <br><br><br>
        <h3>Leaderboard</h3>
        <table class="table table-hover" id="leaderboard">
            <tbody>
              <tr>
                  <td>1</td>
                  <td>-</td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>-</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>-</td>
              </tr>
              <tr>
                  <td>4</td>
                  <td>-</td>
              </tr>
              <tr>
                  <td>5</td>
                  <td>-</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>

    <script>
        $(document).ready(function() {
          var interval = 1000;
  
          function getTotalClicks() {
            var url = "/api/click_data";
            $.ajax({url: url, success: function(result){
              $('#clicks').text("Clicks: " + result);
            }});
          }

          function getLeaderboard() {
            var url = "/api/leaderboard/?format=json";
            $.ajax({url: url, success: function(result){
              $(result).each(function(index){
                console.log(result[index].name);
                
                row = $('table').find('tbody').find('tr').filter(function() {
                  return $(this).find('td').first().text() == index + 1;
                });

                obj = $(row).find('td').first().next();
                $(obj).text(result[index].name)
              });
            }});
          }

          function update() {
            getTotalClicks();
            getLeaderboard();
            setTimeout(update, interval);
          }
  
          setTimeout(update, interval);
        });
      </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  </body>
</html>
