<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Code Clicker</title>

    <link rel="shortcut icon" href="/static/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/user.css">
  </head>

  <body>
    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content bg-info">
          <div class="modal-header">
            <h5 class="modal-title" style="color: white">Congratulations</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p style="color: white">You won the prize!</p>
          </div>
        </div>
      </div>
    </div>
    <h1 class="display-4 text-center">Code Clicker</h1>
    <img class="img-thumbnail mx-auto d-block" src="/static/logo.png" id="click-target"></img>
    <div class="name-input"><input placeholder="Enter Nickname" id="nickname"></input></div>
    <h1 class="text-center" id="user-clicks"></h1>
    <h5 class="text-center" id="total-clicks"></h5>

    <p class="text-center">Code For Change 2018</p>


    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>

    <script>
      $(document).ready(function() {
        var interval = 1000;

        function getTotalClicks() {
          var url = "/api/click_data";
          $.ajax({url: url, success: function(result){
            $('#total-clicks').text("Total: " + result);
          }});
        }
        function getUserClicks() {
          var url = "/api/user_data";
          $.ajax({url: url, success: function(result){
            $('#user-clicks').text("Clicks: " + result);
          }});
        }

        function click() {
          nickname = $('#nickname').val();
          var url = "/api/click";

          if (nickname != "") {
            url += "/?name=" + nickname;
          }
          $.ajax({url: url, success: function(result){
            result = jQuery.parseJSON(result);
            $('#user-clicks').text("Clicks: " + result[0]);
            $('#total-clicks').text("Total: " + (parseInt($('#total-clicks').text().substring(7), 10)+1));
            if (result[1] == true) {
              $('.modal').css({'display': 'inline'});
            }
          }});
        }

        $('.close').click(function () {
          $(this).parent().parent().parent().parent().css({'display': 'none'});
        });

        function loopGetTotalClicks() {
          getTotalClicks();
          setTimeout(loopGetTotalClicks, interval);
        }


        getTotalClicks();
        getUserClicks();
        
        $('#click-target').mousedown(function() {
          click();
        });

        setTimeout(loopGetTotalClicks, interval);
      });
    </script>

    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <!-- <script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>

    <script> 
      $(document).ready(function() {
        image = $('img')[0];
        console.log(image);
        const instance = new Tooltip(image, {
            title: "Hey there",
            trigger: "click",
        });
        instance.show();
        
        // image.click(function () {
        //   tooltip.hide();
        // });
      })

    </script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  </body>
</html>
